* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
}
.nav{
  display:flex;
  height:80px;
  border:1px solid #000;
  align-items:center;
  justify-content:space-between;
}
.logo-div{
  display:flex;
  gap:10px;
}
.nav-items{
  display:flex;
  gap:20px;
}
.nav-items>ul{
  display:flex;
  gap:20px;
  list-style-type:none;
}
.nav .user-settings{
  display:flex;
  align-items:conter;

}
.cub-div{
  display:flex;
  align-items:center;
}